@keyframes phase {
    from {opacity: 1;}
    to {opacity:0.5;}
}

/*Overall div containing the circles and other components*/
#aboutStyle {
    position: absolute;
    margin-top: 5%;
    width: 100%;
    z-index: 1;
}

/*Control the flow of the circles within the div with Flexbox*/
.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding-top: 5%;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    color: white;
}

/*Style for each individual circle; shape taken from CSS Tricks*/
.circle {
    width: 150px;
	height: 150px;
	-moz-border-radius: 75px;
	-webkit-border-radius: 75px;
    border-radius: 75px;
    text-align: center;
}

.circle:hover {
    animation-name: phase;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
/*Center the label in the circle*/
.centerCircleLabel {
    margin-top: 65px;
}

/*Styles for tabs*/
#tabStyle {
    margin-top: 3%;
    width: 100%;
}

#tabs {
    width: 50%;
    margin: auto;
    list-style-type: none;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
}

#tabs li {
    float: left;
    padding: 2% 5% 2% 4%;
    border-bottom: 1px solid #ccc;
    width: 10%;
}
#tabs li:hover{
    border-bottom: 3px solid #89ff9d;
}

#tabs li:first-of-type {
    border-top-left-radius: 25px
}

#tabs li:last-of-type {
    border-top-right-radius: 25px
}

#tabs li:active {
    background-color: #3b493e;
    color: white;
}

.currentTab {
    border-bottom: 3px solid #89ff9d;
}

/*---------------EDUCATION---------------*/
#Education {
    padding-top: 5%;
    margin: auto;
    width: 50%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10%;
}

#Education p, ul {
    text-align: left;
}