.fixFlow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    margin: auto;
    width: 80vw;
}

.columnItem {
    text-align: center;
    width:30%;
}

.columnItem img {
    width: 100px;
    height: 125px;
}

.header {
    text-align: center;
    margin-top:10%;
}

.centered {
    text-align: center;
}

.titleStyle {
    font-family: 'Work Sans', sans-serif;
}

.smallerTitle {
    font-family: 'Work Sans', sans-serif;
    font-style: italic;
}