.contactContent{
	font-family: 'Varela Round', sans-serif;
	background-color: rgba(0,0,0,0.5);
	width:400px;
	height:100px;
	top:50%;
	left:50%;
	padding:1%;
	position:fixed;
	transform: translate(-50%, -50%);
	text-decoration: none;
    color:white;
    text-align:center;
}

.contactContent a{
	text-decoration: none;
	color:white;
}

.contactContent a:hover{
	color:#C4C4C4;
}