@keyframes fadeInSmallText {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeInBigText {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes beat {
    from {transform: scale(0.5);}
    to {transform: scale(0.6);}
}

.center {
    width:100%;
    text-align: center;
    margin: 0 auto;
    margin-top:25vh;
    font-family: 'Montserrat', sans-serif;
    color:#725c16;
    position: fixed;
    z-index: 1;
}

h1 {
    font-size:4em;
    top:4em;
}

.smallTitleFadeIn {
    opacity: 0;
    animation-name: fadeInSmallText;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    animation-delay: 2s;
}

#bigTitleFadeIn {
    opacity: 0;
    animation-name: fadeInBigText;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;

}


/*Taken from CSS-Tricks: https://css-tricks.com/examples/ShapesOfCSS*/
#heart {
    margin: auto;
    position: relative;
    width: 100px;
    height: 90px;
    animation-name: beat;
    animation-direction: alternate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    transform: scale(0.5);
}

#heart:before,
#heart:after {
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: red;
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
       -moz-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
         -o-transform-origin: 0 100%;
            transform-origin: 0 100%;
}
#heart:after {
    left: 0;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
       -moz-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
         -o-transform-origin: 100% 100%;
            transform-origin :100% 100%;
}