body {
	background-color: #f4c842;
	/*
    background-image:url("../images/BokehFinished.png");
	background-repeat: no-repeat;
	background-position: center top;
	background-size:100%;
	*/
}

.pushFooter {
	padding-bottom: 10%;
}