.navbar {
    width:100%;
    position:absolute;
    top:0;
    left:0;
    font-family: 'Varela', sans-serif;
}
  
.navbar-menu {
    list-style-type: none;
    margin-top:1%;
}
 
.navbar-start {
    display:inline;
}

.navbar-end {
    display:inline;
}

.navbar-item {
    font-size:2em;
    padding:1%;
    color:#725c16;
    text-decoration: none;
}
  
.navbar-item:hover {
    color:#FFFFFF;
    transition:0.5s;  
}

.navbarIcon img{
    width:50px;
    height:50px;
}